h1 {
  font-size: 30px;
  color: #5ca2fa;
  font-family: "Abhaya Libre", serif;
}
.docques {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 25px;
  color: #5ca2fa;
  font-family: "Abhaya Libre", serif;
}
.docques::before,
.docques::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #5ca2fa;
}
.docques::before {
  margin-right: 0.25em;
}
.docques::after {
  margin-left: 0.25em;
}
.insertquestion {
  position: relative;
  width: 90%;
  height: 25vh;
  border-radius: 8px;
  border-color: white;
  padding: 15px;
  background-color: #eeeeee;
  box-shadow: 0px 4px 4px #7c6969;
  border: none;
}
.docquestions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 30px;
}
.sendbutton {
  margin: auto;
  margin-top: 25px;
  border-radius: 8px;
  border-color: white;
  padding: 15px;
  background-color: #eeeeee;
  box-shadow: 0px 4px 4px #7c6969;
  border: none;
  width: 47%;
  margin-right: 3px;
  margin-left: 3px;
  height: 70px;
}

.bottomnav {
  background-color: #5ca2fa;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 10vh;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 7px;
}
.showPopup {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.messgaerecieved {
  border-radius: 8px;
  border-color: white;
  width: 40%;
  padding: 15px;
  background-color: black;
  box-shadow: 0px 4px 4px #7c6969;
  border: none;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thumbup {
  width: 10vh;
  height: 10vh;
}
.close {
  position: absolute;
  top: 0;
  font-size: 40px;
  transform: rotate(45deg);
  left: 20px;
}
