.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.logo {
  margin: 20px;
}
.sign-in {
  font-size: 30px;
  color: #5ca2fa;
  font-family: "Abhaya Libre", serif;
}
.logo img {
  width: 150px;
  margin-top: 50px;
}
.logo-name-med {
  color: #5ca2fa;
  font-family: "Petit Formal Script", cursive;
  font-size: 30px;
}

.log-name-care {
  color: red;
  font-size: 30px;
}

.input-container {
  display: flex;
  position: relative;
  width: 300px;
  margin: auto;
  margin-bottom: 25px;
  text-align: center;
}
.input-container input {
  width: 100%;
  border-radius: 8px;
  border-color: white;

  padding: 15px;
  background-color: #eeeeee;
  box-shadow: 0px 4px 4px #7c6969;
  border: none;
}
::placeholder {
  font-size: 20px;
  opacity: 1;
  font-family: "Abhaya Libre", serif;
}
.icon {
  position: absolute;
  font-size: 30px;
  color: #455865;
  right: 5px;
  top: 8px;
}
.card button {
  border: 5px solid #5ca2fa;
  border-radius: 10px;
  padding: 12px;
  color: #5ca2fa;
  background-color: #eeeeee;
  width: 60%;
  text-align: center;
  margin: auto;
  font-size: 25px;
}
