.profiledetails {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 25px;
  color: #5ca2fa;
  font-family: "Abhaya Libre", serif;
}
.profiledetails::before,
.profiledetails::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #5ca2fa;
}
.profiledetails::before {
  margin-right: 0.25em;
}
.profiledetails::after {
  margin-left: 0.25em;
}
h1 {
  font-size: 30px;
  color: #5ca2fa;
  font-family: "Abhaya Libre", serif;
}
.personalinfo {
  position: relative;
  width: 90%;
  height: 15vh;
  border-radius: 8px;
  border-color: white;

  padding: 15px;
  background-color: #eeeeee;
  box-shadow: 0px 4px 4px #7c6969;
  border: none;
}
.profileicon {
  position: absolute;
  font-size: 25px;
  right: 10px;
  top: 5px;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  position: relative;
}
.profileicon {
  justify-items: flex-start;
}
.askdoc {
  position: relative;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  border-color: white;
  background-color: #eeeeee;
  box-shadow: 0px 4px 4px #7c6969;
  border: none;
  width: 15vh;
}
.docicon {
  position: absolute;
  right: -25px;
  top: -20px;
  width: 50px;
}
.medicationlist {
  position: relative;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  border-color: white;
  background-color: #eeeeee;
  box-shadow: 0px 4px 4px #7c6969;
  border: none;
  width: 15vh;
}
.medicon {
  position: absolute;
  right: -25px;
  top: -20px;
  width: 45px;
}
.medreport {
  position: relative;
  width: 20vh;
  height: 7vh;
  margin: auto;
  border-radius: 8px;
  border-color: white;
  background-color: #eeeeee;
  box-shadow: 0px 4px 4px #7c6969;
  border: none;
}
.reporticon {
  position: absolute;
  right: -25px;
  top: -20px;
  width: 45px;
}
.bottomnav {
  background-color: #5ca2fa;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 10vh;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 7px;
}

/* .bottomnavbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.bottomnavbar a:hover {
  background: #f1f1f1;
  color: black;
}

.bottomnavbar a.active {
  background-color: #4caf50;
  color: white;
} */
/* .homeicon {
  position: fixed;
  left: 10px;
  bottom: 7px;
}
.capsule {
  bottom: 7px;
  position: fixed;
  margin-left: -25px;
}
.logout {
  position: fixed;
  right: 10px;
  bottom: 7px;
} */
